* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}

.black {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  color: black;
  width: 300px;
}
.black:focus {
  border: 3px solid rgb(117, 117, 246);
  outline: none;
}
.render {
  padding: 10px;
  border-radius: 10px;
  border-color: grey;
  margin-bottom: 10px;
  position: relative;
}
.renderPlus {
  border: 3px solid red;
  width: 50vw;
}
.line {
  height: 2px;
  background: black;
  border: 0px;
  width: 50vw;
  margin: 10px;
}

.secondary {
  width: 20%;
  display: float;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 40px;
  background-color: gray;
  color: white;
  border-radius: 10%;
  border: none;
}
.secondary:hover {
  background-color: rgb(99, 98, 98);
}
.btn-light {
  background-color: white;
  width: 50vw;
  margin: 10px;
  padding: 5px;
  color: black;
  border: none;
  border-radius: 10px;
}
.btn-light:hover {
  background-color: rgb(204, 204, 204);
}
.btn-dark {
  background-color: black;
  width: 50vw;
  margin: 10px;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 10px;
}
.btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.756);
}
.crossedOutLine {
  text-decoration: line-through;
}
.btn {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.btn-primary {
  width: 10vw;
  color: white;
  background-color: blue;
  border: none;
}
.btn-primary:hover {
  background-color: rgb(5, 5, 194);
}
.danger {
  background-color: red;
  width: 20%;
  display: float;
  position: absolute;
  right: -15px;
  top: -10px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 10px;
}
.danger:hover {
  background-color: rgb(183, 2, 2);
}

@media only screen and (max-width: 480px) {
  .line {
    width: 60vw;
  }
  .btn-dark {
    width: 60vw;
    padding: 0 100px;
  }
  .btn-light {
    width: 60vw;
    padding: 0 100px;
  }
  .render {
    width: 60vw;
    padding: 0 100px;
  }
  .contInpBtn {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .btn-primary {
    text-align: center;
    width: 10vw;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contInpBtn {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .btn-primary {
    text-align: center;
    width: 10vw;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn-primary {
    text-align: center;
    width: 10vw;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contInpBtn {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .btn-primary {
    width: 10vw;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contInpBtn {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .btn-primary {
    width: 10vw;
  }
}
