body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.containerAll {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  gap: 2rem;
  font-size: 30px;
}
.containerItems {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  gap: 1rem;
}
.contInpBtn {
  display: flex;
  max-width: 100%;
  justify-content: center;
  height: 70px;
}
.blackInput {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  color: black;
  width: 300px;
}
.blackInput:focus {
  border: 3px solid rgb(117, 117, 246);
  outline: none;
}
.render {
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border-color: grey;
  margin-bottom: 10px;
  text-align: start;
  position: relative;
  border: 3px solid red;
}
.line {
  height: 2px;
  background: black;
  border: 0px;
}
.secondary {
  width: 20%;
  position: absolute;
  right: -2px;
  top: 0px;
  height: 70px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  border: none;
}
.secondary:hover {
  background-color: rgb(99, 98, 98);
}
.btn-light {
  background-color: white;
  width: 800px;

  height: 70px;
  color: black;
  border: none;
  border-radius: 10px;
}
.btn-light:hover {
  background-color: rgb(204, 204, 204);
}
.btn-dark {
  background-color: black;
  width: 800px;
  height: 70px;
  color: white;
  border: none;
  border-radius: 10px;
}
.btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.756);
}
.crossedOutLine {
  text-decoration: line-through;
}

.btn-primary {
  width: 150px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: blue;
  border: none;
}
.btn-primary:hover {
  background-color: rgb(5, 5, 194);
}
.danger {
  background-color: red;
  width: 20%;
  position: absolute;
  right: -2px;
  top: 0px;
  height: 70px;
  color: white;
  border: none;
  border-radius: 10px;
}
.danger:hover {
  background-color: rgb(183, 2, 2);
}
.classOpacity {
  opacity: 50%;
}
.dangerDel {
  background-color: red;
  width: 20%;
  display: float;
  position: absolute;
  right: -1px;
  top: 0px;
  color: white;
  border: none;
  border-radius: 10px;
}
.dangerDel:hover {
  background-color: rgb(183, 2, 2);
}
@media only screen and (max-width: 1440px) {
  .containerAll {
    max-width: 1200px;
    margin: 0 auto;
  }
  .containerItems {
    margin: 0 auto;
    max-width: 100%;
  }
  .contInpBtn {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1024px) {
  .containerAll {
    max-width: 800px;
    margin: 0 auto;
  }
  .containerItems {
    max-width: 100%;
  }
  .contInpBtn {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .blackInput {
    max-width: 300px;
  }
  .line {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .containerAll {
    width: 600px;
    margin: 0 auto;
  }
  .containerItems {
    width: 600px;
    margin: 0 auto;
  }
  .contInpBtn {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .blackInput {
    width: 150px;
  }
  .btn-light {
    width: 100%;
  }
  .btn-dark {
    width: 100%;
  }
  .line {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .containerAll {
    width: 100%;
  }
  .contInpBtn {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 70px;
    display: flex;
    justify-content: center;
  }
  .containerItems {
    width: 100%;
  }
  .btn-primary {
    width: 75px;
  }
  .blackInput {
    width: 150px;
  }
  .btn-dark {
    margin: 20px;
  }
  .line {
    width: 100%;
    margin: 20px;
  }
}
