* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}

.black {
  padding: 10px;
  border-radius: 10px;
  color: black;
  width: 300px;
}
.render {
  padding: 10px;
  border-radius: 10px;
  border-color: grey;
  margin-bottom: 10px;
  position: relative;
}
.renderPlus {
  border: 3px solid red;
  width: 50vw;
}
.line {
  height: 2px;
  background: black;
  border: 0px;
  width: 50vw;
  margin: 10px;
}

.secondary {
  width: 20%;
  display: float;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 40px;
  background-color: gray;
  color: white;
  border-radius: 10%;
}
.secondary:hover {
  background-color: rgb(99, 98, 98);
}
.close {
  background-color: white;
  width: 50vw;
  margin: 10px;
  padding: 5px;
}
.crossedOutLine {
  text-decoration: line-through;
}
.btn {
  border-radius: 10%;
  padding: 10px;
  margin: 10px;
}
.btn-primary {
  color: white;
  background-color: blue;
}
.btn-primary:hover {
  background-color: rgb(5, 5, 194);
}
.danger {
  background-color: red;
  width: 20%;
  display: float;
  position: absolute;
  right: -10px;
  top: -10px;
  height: 40px;
  color: white;
}
.danger:hover {
  background-color: rgb(183, 2, 2);
}
